name: Get Latest Versions
on:
  push:
    branches:
      - master
  schedule:
    - cron: "17 * * * *"

jobs:
  getLatestVersions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check for updates
        id: updates
        shell: pwsh
        run: |
          ./scripts/Check-Updates.ps1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Commit Updated Files
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add versions.json
          git add matrix.json
          git commit -m "Automated Version Update" || echo "No changes to commit"
          git push
      
      - name: Trigger build workflow
        if: ${{ steps.updates.outputs.triggerBuild == 'true' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: build-new-release.yml
          inputs: '{"rawMarkdown": "${{ steps.updates.outputs.causeOfUpdateLabel }}", "webReleaseTagName": "${{ steps.updates.outputs.webReleaseTagName }}", "webPrereleaseTagName": "${{ steps.updates.outputs.webPrereleaseTagName }}"}'
